<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_CONVERSATION_DEL</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/conversation_del</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_CONVERSATION_READ</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/conversation_read</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_CREATE_GROUP</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/create_group</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_FIRST_SCREEN</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/first_screen</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_FIRST_SCREEN_CONVERSATION</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/first_screen_conversation</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_GROUP_DISMISS</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/group_dismiss</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_GROUP_MEMBERS</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/group_members</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_HISTORY_CONVERSATION</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/history_conversation</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_HISTORY_LIST</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/history_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_JOIN_GROUP</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/join_group</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_KICKOUT_GROUP</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/kickout_group</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_NEW_CONVERSATION</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/new_conversation</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_NEW_LIST</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/new_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_QUIT_GROUP</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/quit_group</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_SEND</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/send</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IMCENTER_MESSAGE_V2_UNREAD_COUNT</string>
		<key>url</key>
		<string>/api/v2/imcenter/message/unread_count</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_BIND_QUERY</string>
		<key>url</key>
		<string>/api/user/account/bind/query</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_PHONE_LOGIN</string>
		<key>url</key>
		<string>/api/user/account/phone/login</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_THIRDPART_LOGIN</string>
		<key>url</key>
		<string>/api/user/account/thirdpart/login</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_THIRD_BIND</string>
		<key>url</key>
		<string>/api/user/account/thirdpart/bind</string>
	</dict>
	<dict>
		<key>key</key>
		<string>APP_UPDATE_CHECK</string>
		<key>url</key>
		<string>/api/v1/controlcenter/app/version/check</string>
	</dict>
	<dict>
		<key>key</key>
		<string>BIND_CHECK_CODE</string>
		<key>url</key>
		<string>/api/user/account/bind/check_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>BIND_SEND_CODE</string>
		<key>url</key>
		<string>/api/user/account/bind/send_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>COMMERCE_BAG_ITEM_GET</string>
		<key>url</key>
		<string>/api/v1/commerce/bag/item/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>COMMERCE_SEND_GIFT_BUZ_SEND</string>
		<key>url</key>
		<string>/api/gift/send_buz/send</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_CONTACT_CLEAR</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/contact_clear</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_CONTACT_CLEAR_UNREAD</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/contact_clear_unread</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_CONTACT_COUNT</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/contact_count</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_CONTACT_DEL</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/contact_del</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_DEL</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/message_del</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_FIRST_SCREEN</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/first_screen</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_HISTORY_CONTACT</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/history_contact</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_HISTORY_LIST</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/history_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_NEW_CONTACT</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/new_contact</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_NEW_LIST</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/new_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_READ</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/message_read</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_SEND</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/send</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_MESSAGE_UNREAD_COUNT</string>
		<key>url</key>
		<string>/api/v1/imcenter/message/unread_count</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_ACTIVE_USERS_GET</string>
		<key>url</key>
		<string>/api/v1/im/live_room/active_users</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_ADMINISTRATOR_CHECK</string>
		<key>url</key>
		<string>/api/v1/im/live_room/administrator/check</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_ADMINISTRATOR_LIST_GET</string>
		<key>url</key>
		<string>/api/v1/im/live_room/administrator_list/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_AUDIENCES_GET</string>
		<key>url</key>
		<string>/api/v1/im/live_room/audiences</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_CONTRIBUTORS_GET</string>
		<key>url</key>
		<string>/api/v1/rankinglist/buz/contributor_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_FORBID_LIST_GET</string>
		<key>url</key>
		<string>/api/v1/im/live_room/forbid_list/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_FORBID_LIST_GET_V2</string>
		<key>url</key>
		<string>/api/v2/im/live_room/forbid_list/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>IM_CENTER_ROOM_LIVE_CONTRIBUTORS_GET</string>
		<key>url</key>
		<string>/api/v1/rankinglist/buz/live/contributor_list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LONG_CONNECTION_CONFIG</string>
		<key>url</key>
		<string>/time/getconfig</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_APPLY</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/apply</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_APPLY_ALLOW</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/apply/allow</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_APPLY_QUERY</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/apply/query</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_APPLY_REFUSED</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/apply/refused</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_HEARTBEAT</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/heartbeat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_INFO_GET</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/info/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_INVITE</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/invite</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_INVITE_ACCEPT</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/invite/accept</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_INVITE_REFUSED</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/invite/refused</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_KICK</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/kick</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_START_IMMEDIATE</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/start</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LINK_MIC_STOP</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/link/stop</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_HEARTBEAT</string>
		<key>url</key>
		<string>/api/v1/media/live/heartbeat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_HEARTBEAT_V2</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/heartbeat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_INFO_GET</string>
		<key>url</key>
		<string>/api/v1/media/live/info/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_PERMISSION_CHECK</string>
		<key>url</key>
		<string>/api/v1/media/live/check_can_start</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_PREPARE</string>
		<key>url</key>
		<string>/api/v2/media/live/prepare</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_PREPARE_V2</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/prepare</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_START</string>
		<key>url</key>
		<string>/api/v1/media/live/start</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_START_V2</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/start</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_STOP</string>
		<key>url</key>
		<string>/api/v1/media/live/stop</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MEDIA_LIVE_STOP_V2</string>
		<key>url</key>
		<string>/api/v1/media/live/logic/stop</string>
	</dict>
	<dict>
		<key>key</key>
		<string>PHONE_SEND_CODE</string>
		<key>url</key>
		<string>/api/user/account/phone/send_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>REBIND_CHECK_CUR_CODE</string>
		<key>url</key>
		<string>/api/v2/user/account/rebind/check_cur_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>REBIND_CHECK_NEW_CODE</string>
		<key>url</key>
		<string>/api/user/account/rebind/check_new_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>REBIND_SEND_NEW_CODE</string>
		<key>url</key>
		<string>/api/user/account/rebind/send_new_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>REBIND_SEND_OLD_CODE</string>
		<key>url</key>
		<string>/api/user/account/rebind/send_cur_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_GIFT_DETAIL_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/gift/detail</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_GIFT_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/gift</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_GIFT_ICON_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/gift_icon</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_GIFT_RESOURCE_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/gift_resource</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_WALL_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/wall</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_GIFTWALL_WALL_TAB_GET</string>
		<key>url</key>
		<string>/api/v1/gift_wall/business/wall_tab</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RESOURCE_LIST</string>
		<key>url</key>
		<string>/api/v1/resource/info/list/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>SERVICE_INFO</string>
		<key>url</key>
		<string>/api/v1/base/serviceinfo/info</string>
	</dict>
	<dict>
		<key>key</key>
		<string>SERVICE_INFO_V2</string>
		<key>url</key>
		<string>/api/v2/base/serviceinfo/info</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USERCENATER_ONLINE_DEVLIST</string>
		<key>url</key>
		<string>/api/v1/user/online/dev/list</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USERCENATER_ONLINE_HEART</string>
		<key>url</key>
		<string>/api/v1/user/online/heartbeat</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USERCETER_SESSION_LOGOUT</string>
		<key>url</key>
		<string>/api/v1/user/session/logout</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_PROFILE_LOC_UPDATE</string>
		<key>url</key>
		<string>/api/v1/users/profile/location/update</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_FOLLOW</string>
		<key>url</key>
		<string>/api/user/relationship/follow</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_LIST_FANS</string>
		<key>url</key>
		<string>/api/user/relationship/list/fans</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_LIST_FOLLOW</string>
		<key>url</key>
		<string>/api/user/relationship/list/followings</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_LIST_MUTUAL</string>
		<key>url</key>
		<string>/api/user/relationship/list/mutual</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_NUMS</string>
		<key>url</key>
		<string>/api/user/relationship/nums</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_RELATIONS</string>
		<key>url</key>
		<string>/api/user/relationship/relations</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATIONSHIP_UNFOLLOW</string>
		<key>url</key>
		<string>/api/user/relationship/unfollow</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_RELATION_FOLLOW_LIST</string>
		<key>url</key>
		<string>/api/user/relation/list/follow</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_LOGOFF</string>
		<key>url</key>
		<string>/api/user/account/delete</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ACCOUNT_SESSION_CHECK</string>
		<key>url</key>
		<string>/api/v1/user/session/renewal</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_PROFILE_GET</string>
		<key>url</key>
		<string>/api/v1/users/profile/get</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_PROFILE_UPDATE</string>
		<key>url</key>
		<string>/api/v1/users/profile/update</string>
	</dict>
	<dict>
		<key>key</key>
		<string>USER_VISITOR_LOGIN</string>
		<key>url</key>
		<string>/api/v2/user/account/visitor/login</string>
	</dict>
	<dict>
		<key>key</key>
		<string>REBIND_SEND_CUR_CODE</string>
		<key>url</key>
		<string>/api/user/account/rebind/send_cur_code</string>
	</dict>
	<dict>
		<key>key</key>
		<string>DYNCONFIG_CFG_GET</string>
		<key>url</key>
		<string>/api/v1/base/dynconfig/cfg/get</string>
	</dict>
</array>
</plist>
